*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-image: url(img/workspace-g1a4939fd3_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    
}
.logo{
    height: 50px;
    background: rgba(204, 204, 204, 0.4);
     
    
}
.titulo{
    display: inline;
    width: 200px;
    margin: 10px; 
}
.menu{
    display: inline;
    margin-left: 35%;
    color: black;
    font-weight: bold;
    
    
}
a{
    text-decoration: none;
    padding: 15px;
    color: black;
    text-shadow: 1px;
}
a:hover{
    background-color: rgb(133, 128, 128);
}
a:focus{
    background-color: rgb(192, 191, 191);
}
.texto{
    height: 250px;
    width:350px;
    background: rgba(204, 204, 204, 0.4); 
    margin: 100px;
    border-radius: 5px;
    text-align: justify;
    padding: 50px;
    

}
p{
    padding: 10px;
}